<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinar</title>
</head>
<body>
    <div id="urls">
        
    </div>
    <h3>Тестируем express</h3>
    <video id="localStream" width="400" height="300" controls></video>
    <br>
    <video id="friendStream" width="400" height="300" controls></video><br>
    <label>My token</label><br>
    <textarea name="" id="tokenArea" cols="100" rows="10"></textarea> <br> <br>
    <input type="text" placeholder="Token your friend" id="tokenYourFriend">
    <br>
    <button id="btnConnect">Connect</button>
</body>
    <script src="main.js"></script>
</html>